body {
	height: 100vh;
}

.land {
	padding: 10px;
	height: 100%;
	overflow: hidden;
	background: url("../media/pattern.png");
	background-size: 10px 10px;
}
@media (min-width: 1024px) {
	.land {
		display: flex;
		padding: 1rem;
	}
}
.pg-p {
	margin-bottom: 2rem;
}
.pg-p__title {
	width: 100%;
}
.pg-p__avatar {
	border-radius: 50%;
	width: 70px;
	border: 2px solid var(--color-secondary);
	box-shadow: 0 0 5px var(--color-secondary);
	margin-right: 1rem;
}
.pg-p__button {
	width: 100%;
	margin-top: 1rem;
	text-align: center;
	cursor: pointer;
}
