body {
	height: 100vh;
}

.land {
	padding: 10px;
	height: 100%;
	overflow: hidden;
	background: url("../media/pattern.png");
}
@media (min-width: 1024px) {
	.land {
		display: flex;
		padding: 1rem;
	}
}
