/* MAP */
div.map-box {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 4px;
}
.map-box .arwes-frame__content {
	width: 100%;
}

.map {
	height: 100%;
	background: url("../assets/map/base.png");
	position: relative;
	overflow: hidden;
	background-position: center center;
	background-size: cover;
	opacity: 0;
}

.map__pattern {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../assets/map/pattern_grid.png");
	transition: transform 0.5s;
}
.map:hover .map__pattern {
	transform: scale(1.05);
}
