.map {
	height: 100%;
	width: 100%;
	background: url("../media/map/base.jpg");
	position: relative;
	background-position: center center;
	background-size: 100% 100%;
	opacity: 0;
	animation: resetOpacity 1s 0.5s forwards;
	overflow: hidden;
	z-index: 0;
}

.map__pattern {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../media/map/pattern_grid.png");
	transform: scale(0);
	animation: resetScale 1s 1s forwards;
}

/* MAP BOX*/
.map-box {
	position: absolute;
	top: 2rem;
	right: 4rem;
	z-index: 1;
	width: 300px;
	bottom: 6rem;
}
.map-box .arwes-frame {
	width: 100%;
	background: var(--color-primary-opacity);
	height: 100%;
}
.map-box .arwes-frame__content {
	height: 100%;
}
.map-box-grid {
	grid-template-rows: auto 200px 150px 1fr;
	grid-gap: 1rem;
	height: 100%;
}
.map-box__image {
	width: 100%;
	height: 100%;
	border: 1px solid var(--color-secondary);
	box-shadow: 0 0 3px var(--color-secondary);
}
.map-box__description {
	overflow: auto;
	font-size: 1.3rem;
}
.map-box__chat {
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	background: var(--color-primary-opacity);
	border: 1px solid var(--color-secondary);
}
.map-box__chats-container {
	position: relative;
}
.map-box__chats {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	overflow: auto;
}
/* INDICATOR */
.map__indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.map__indicator-g * {
	stroke: var(--color-success);
	filter: drop-shadow(0 0 3px var(--color-success));
	fill: var(--color-success);
	transition: all 0.3s;
	stroke-width: 2;
}
.map__indicator-line {
	animation: animateLine 1s linear alternate infinite;
}
.map__indicator-square {
	fill: #f29f6721;
	animation: animateSquare 3s linear reverse infinite;
}
.map__indicator-circle {
	fill: none;
}
.map__location {
	cursor: pointer;
}
.map__path {
	fill: #ffffff01;
	stroke: 0.1;
	transition: all 0.3s;
	cursor: pointer;
}
.map__location:hover .map__path,
.map__location.selected .map__path {
	stroke: var(--color-accent);
	filter: drop-shadow(0 0 3px var(--color-accent));
	fill: #f29f6715;
	transition: all 0.3s;
	stroke-width: 2;
}
.map__text {
	text-transform: uppercase;
	font-family: var(--font-secondary);
	font-weight: bold;
	letter-spacing: 2px;
	fill: url(#text-grad);
	text-shadow: 1px 1px 1px black;
	text-shadow: 1px 1px 3px black;
	text-shadow: 1px 1px 1px black;
	text-shadow: 1px 1px 5px black;
	transition: fill 0.3s;
}
.map__text:hover,
.map__location:hover .map__text {
	fill: #eee;
}
@keyframes animateLine {
	from {
		stroke-width: 0;
	}
}
@keyframes animateSquare {
	from {
		stroke-dashoffset: 0;
	}
}
