.map {
	height: 100%;
	width: 100%;
	background: url("../media/map/base.jpg");
	position: relative;
	background-position: center center;
	background-size: 100% 100%;
}

.map__pattern {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../media/map/pattern_grid.png");
	transition: transform 0.5s;
}
.map:hover .map__pattern {
	transform: scale(1.05);
}
.map__indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.map__indicator-g * {
	stroke: var(--color-accent);
	filter: drop-shadow(0 0 3px var(--color-accent));
	fill: var(--color-accent);
	transition: all 0.3s;
	stroke-width: 2;
}
.map__indicator-line {
	animation: animateLine 1s linear alternate infinite;
}
.map__indicator-square {
	fill: #f29f6721;
	animation: animateSquare 1s linear reverse infinite;
}
.map__indicator-circle {
	fill: none;
}
.map__indicator-text {
	text-transform: uppercase;
	font-family: var(--font-secondary);
	font-weight: bold;
	letter-spacing: 2px;
	fill: url(#text-grad);
	text-shadow: 1px 1px 1px black;
	text-shadow: 1px 1px 3px black;
	text-shadow: 1px 1px 1px black;
	text-shadow: 1px 1px 5px black;
	cursor: pointer;
	transition: fill 0.3s;
}
.map__indicator-text:hover {
	fill: #eee;
}

@keyframes animateLine {
	from {
		stroke-width: 0;
	}
}
@keyframes animateSquare {
	from {
		stroke-dashoffset: 0;
	}
}
