/* MENU */
.menu {
	position: fixed;
	bottom: 2rem;
	right: 4rem;
	display: flex;
	justify-content: center;
}
.menu__icon {
	position: absolute;
	cursor: pointer;
	bottom: 0;
	opacity: 0;
	z-index: 10;
}
div.menu__icon .icon__image {
	width: 30px;
}
.menu__icon-text {
	position: absolute;
	left: -12rem;
	width: 100px;
	text-align: right;
	top: 50%;
	transform: translateY(-50%);
}
.menu__icon:hover .menu__icon-text {
	color: var(--color-accent);
}
.menu__icon--first {
	bottom: 0;
	opacity: 1;
	z-index: 11;
}
div.menu__icon--first .icon__image {
	width: 35px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
	.menu {
		right: 6rem;
	}
	.menu__icon .icon__image {
		width: 40px;
	}
}
