/* UI */
div.ui {
	padding: 5px;
}
.ui__head-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ui__head-icon .icon__image {
	width: 30px;
}
div.ui__content {
	display: grid;
	grid-gap: 1rem;
	grid-template-rows: auto auto auto 1fr 100px;
	padding: 2px;
}
@media screen and (min-width: 1024px) {
	div.ui {
		width: 200px;
		margin-right: 1rem;
		margin-bottom: 0;
	}
	div.ui__content {
		height: 100vh;
	}
}
@media screen and (min-width: 1440px) {
	div.ui {
		width: 300px;
		margin-right: 1rem;
	}
}
/* BOXES */
div.ui__box {
	font-size: 1.3rem;
	height: 100%;
	overflow: hidden;
	padding: 0;
}
.ui__box div.arwes-frame__content {
	overflow: auto;
	max-height: 100%;
	position: relative;
}
.ui__title {
	margin: 0;
	position: sticky;
	background: var(--color-primary);
	border: 1px solid var(--color-secondary);
	border-bottom: 0;
	border-right: 0;
	top: 0;
	display: block;
	z-index: 2;
	padding: 0.3rem 0.5rem;
}
.ui__title.secondary {
	border: 1px solid var(--color-accent);
	border-bottom: 0;
	border-right: 0;
	background: rgb(80, 51, 24);
}

/* UI HEADER */
div.ui__header {
	font-weight: bold;
	text-shadow: 0 0 5px var(--color-secondary);
	font-size: 2rem;
	text-align: center;
}
.ui__toggler .arwes-frame {
	width: 100%;
}
.ui__toggler .brand {
	margin: 0;
}
.ui__logo {
	filter: drop-shadow(0 0 5px var(--color-secondary));
	height: 60px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
	div.ui__header {
		font-size: 1.5rem;
	}
	.ui__logo {
		height: 40px;
	}
}

/* UI pg*/
div.ui__pg {
	cursor: pointer;
}
.ui__avatar {
	width: 80px;
	height: 80px;
	border: 2px solid var(--color-accent);
	box-shadow: 0 0 5px var(--color-accent);
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
	div.ui__pg {
		padding: 15px 8px;
	}
	.ui__avatar {
		width: 60px;
		height: 60px;
	}
}
/* INDICATORS */
.ui__indicators {
	margin-left: 1rem;
}
.ui__indicator {
	position: relative;
}
.ui__bars {
	display: flex;
	align-items: flex-end;
	height: 25px;
}
.ui__indicator.flip .ui__bars {
	transform: rotateX(-180deg);
}
.ui__bars-title {
	position: absolute;
	top: -15px;
	right: -5px;
	font-size: 0.9rem;
	text-transform: uppercase;
	color: var(--color-success);
}
.ui__indicator.flip .ui__bars-title {
	top: unset;
	bottom: -13px;
	left: 0;
}
.ui__indicator.warning .ui__bars-title {
	color: var(--color-warning);
}
.ui__indicator.danger .ui__bars-title {
	color: var(--color-error);
}
.ui__bar {
	width: 1px;
	margin-left: 5px;
	position: relative;
	background: linear-gradient(to top, #00000000 1%, var(--color-success) 100%);
}
.ui__indicator.warning .ui__bar {
	background: linear-gradient(to top, #00000000 1%, var(--color-warning) 100%);
}
.ui__indicator.danger .ui__bar {
	background: linear-gradient(to top, #00000000 1%, var(--color-error) 100%);
}
.ui__bar:before {
	content: "";
	position: absolute;
	top: -1px;
	left: -1px;
	width: 3px;
	height: 3px;
	border-radius: 100%;
	background: var(--color-success);
	box-shadow: 0 0 3px var(--color-success);
	opacity: 0.8;
}
.ui__indicator.warning .ui__bar:before {
	background: var(--color-warning);
	box-shadow: 0 0 3px var(--color-warning);
}
.ui__indicator.danger .ui__bar:before {
	background: var(--color-error);
	box-shadow: 0 0 3px var(--color-error);
}
.ui__circle {
	width: 600px;
	position: absolute;
}
.ui__circle-avatar {
	position: absolute;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	border: 2px solid var(--color-secondary);
	box-shadow: 0 0 10px var(--color-secondary);
}

/* RADIAL MENU */

svg.icons {
	display: none;
}
svg.menu {
	position: absolute;
	left: 50%;
	top: 50%;
	overflow: visible;
	transition: 0.2s;
	transform: translate(-50%, -50%);
	transition-timing-function: ease-out;
}
svg.menu.inner {
	transform: translate(-50%, -50%) scale(0) rotate(-10deg);
	opacity: 0;
	visibility: hidden;
}
svg.menu.outer {
	transform: translate(-50%, -50%) scale(1.5) rotate(10deg);
	opacity: 0;
	visibility: hidden;
}
svg.menu > g > path {
	filter: drop-shadow(0 0 2px var(--color-secondary));
	fill: #00f7f722;
}
svg.menu > g.sector > path {
	cursor: pointer;
	/*transition: 0.1s;*/
}
svg.menu > g.sector > text,
svg.menu > g.sector > use {
	cursor: pointer;
	fill: #fff;
	font-family: var(--font-primary);
	font-weight: bold;
	font-size: 0.4rem;
	letter-spacing: 1px;
	text-transform: uppercase;
}
svg.menu > g.sector:hover > path {
	fill: #00f7f744;
}
svg.menu > g.center:hover > circle {
	fill: var(--color-warning);
	opacity: 0.5;
}
svg.menu > g.center > circle {
	cursor: pointer;
	fill: #00000040;
}
svg.menu > g.center > text,
svg.menu > g.center > use {
	cursor: pointer;
	fill: white;
}
/* UI MENU */
.ui__menu {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	grid-gap: 1rem;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.3rem;
	cursor: pointer;
}
.ui__menu .arwes-frame {
	padding: 5px;
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
	.ui__menu {
		font-size: 1.2rem;
	}
}

/* NEWS BOX */
.ui__news-item {
	background: rgba(255, 255, 255, 0.07);
	margin: 0.5rem 0;
	padding: 0.3rem;
	display: block;
}
@media screen and (min-width: 1440px) {
}
/* ONLINE USERS */
.ui__o-user {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	background: rgba(255, 255, 255, 0.1);
	margin: 0.5rem 0.5rem 0.5rem 0.5rem;
	padding-left: 1rem;
	animation: resetScale 0.5s forwards;
	transform: scale(0);
}
.ui__o-user::before {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	content: "";
	background: var(--color-success);
	width: 3px;
	z-index: 2;
}
.busy.ui__o-user::before {
	background: var(--color-error);
}
.ui__o-avatar {
	width: 30px;
	height: 30px;
	object-fit: cover;
	margin-right: 0.5rem;
	border-radius: 50%;
	border: 1px solid var(--color-accent);
	box-shadow: 0 0 3px var(--color-accent);
}

.ui__o-icon img {
	filter: drop-shadow(0 0 2px var(--color-secondary));
}
.ui__o-icon {
	margin-right: 0.5rem;
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.ui__o-icon:hover::before {
	transform: scale(1);
}
.ui__o-icon.msg::before {
	content: "Messaggio";
}
.ui__o-icon.admin::before {
	content: "Admin";
}
@media screen and (min-width: 1024px) {
	.ui__o-icon::before {
		transition: transform 0.2s;
		transform: scale(0);
		position: absolute;
		font-size: 1rem;
		top: 22px;
		left: 0;
		padding: 4px;
		background: var(--color-primary);
		border: 2px solid var(--color-secondary);
		z-index: 9;
	}
}

/* UI SOCIAL */
.social__post {
	padding: 5px;
	border-radius: 10px;
	margin: 1rem;
	background: rgba(255, 255, 255, 0.1);
}
.social__avatar {
	width: 40px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 1rem;
}
.social__date {
	font-size: 1rem;
}
