/* UI */
div.ui {
	margin-bottom: 1rem;
	padding: 5px;
}
.ui__head-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ui__head-icon .icon__image {
	width: 30px;
}
.ui__head-icon {
	margin-left: 5rem;
}
.ui__content {
	overflow: auto;
	height: 100%;
}
/* UI UTILITIES */
div.ui__box {
	display: block;
}
.ui__flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ui__flex-extend {
	flex: 1;
}
@media screen and (min-width: 1024px) {
	div.ui {
		width: 300px;
		margin-right: 2rem;
		margin-bottom: 0;
	}
}

/* UI HEADER */
div.ui__header {
	font-size: 1.8rem;
	font-weight: bold;
	text-shadow: 0 0 5px var(--color-secondary);
	margin-bottom: 1.5rem;
}
.ui__logo {
	filter: drop-shadow(0 0 5px var(--color-secondary));
	height: 60px;
}
/* WEATHER */
.ui__weather {
	display: flex;
	flex-direction: row-reverse;
	font-size: 2.1rem;
	justify-content: center;
	align-items: center;
}
.ui__weather-icon {
	margin: 0 1rem;
}
.ui__line {
	width: 80%;
	margin: 0.4rem auto;
	height: 1px;
	background: var(--color-secondary);
	box-shadow: 0 0 5px var(--color-secondary);
	display: flex;
	align-items: center;
	position: relative;
	opacity: 0;
	animation: resetOpacity 1s 0.5s forwards;
}
.ui__line:after,
.ui__line:before {
	position: absolute;
	left: 0;
	content: "";
	width: 6px;
	height: 3px;
	background: var(--color-secondary);
	box-shadow: 0 0 5px var(--color-secondary);
	opacity: 0;
	animation: resetOpacity 1s 0.5s forwards;
}
.ui__line:after {
	right: 0;
	left: unset;
}
.ui__weather-icon {
	width: 35px;
	fill: white;
	filter: drop-shadow(0 0 3px var(--color-secondary));
}
/* UI__DATE */
.ui__date {
	font-size: 2rem;
	text-align: center;
	width: 100%;
}

/* UI pg*/
.ui__pg {
	width: 80px;
	height: 80px;
	border: 2px solid var(--color-accent);
	box-shadow: 0 0 5px var(--color-accent);
}
/* INDICATORS */
.ui__indicators {
	margin-left: 1rem;
}
.ui__indicator {
	position: relative;
}
.ui__bars {
	display: flex;
	align-items: flex-end;
	height: 25px;
}
.ui__indicator.flip .ui__bars {
	transform: rotateX(-180deg);
}
.ui__bars-title {
	position: absolute;
	top: -15px;
	right: -5px;
	font-size: 0.9rem;
	text-transform: uppercase;
	color: var(--color-success);
}
.ui__indicator.flip .ui__bars-title {
	top: unset;
	bottom: -13px;
	left: 0;
}
.ui__indicator.warning .ui__bars-title {
	color: var(--color-warning);
}
.ui__indicator.danger .ui__bars-title {
	color: var(--color-error);
}
.ui__bar {
	width: 1px;
	margin-left: 5px;
	position: relative;
	background: linear-gradient(to top, #00000000 1%, var(--color-success) 100%);
}
.ui__indicator.warning .ui__bar {
	background: linear-gradient(to top, #00000000 1%, var(--color-warning) 100%);
}
.ui__indicator.danger .ui__bar {
	background: linear-gradient(to top, #00000000 1%, var(--color-error) 100%);
}
.ui__bar:before {
	content: "";
	position: absolute;
	top: -1px;
	left: -1px;
	width: 3px;
	height: 3px;
	border-radius: 100%;
	background: var(--color-success);
	box-shadow: 0 0 3px var(--color-success);
	opacity: 0.8;
}
.ui__indicator.warning .ui__bar:before {
	background: var(--color-warning);
	box-shadow: 0 0 3px var(--color-warning);
}
.ui__indicator.danger .ui__bar:before {
	background: var(--color-error);
	box-shadow: 0 0 3px var(--color-error);
}

/* UI MENU */
.ui__menu {
	margin: 1rem 0 2rem 0;
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	grid-gap: 1rem;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
