.root {
	margin: auto;
	width: 100%;
}
.content {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 20;
}
.brand {
	margin: 0 auto 30px auto;
	padding: 10px 0;
	width: 100%;
	max-width: 700;
}
.menu {
	margin: 0 auto 20px auto;
	width: 100%;
	max-width: 600;
}
.social {
	margin: 0 auto;
	width: 100%;
	max-width: 400;
}
.legal {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}
