*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--color-primary: #073942;
	--color-secondary: #6aa0aa;
	--color-accent: #ff3400;
	--color-headings: #1b0760;
	--color-body: #ccc;
	--color-body-darker: #5c5577;
	--color-border: #ccc;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #02161a;
	color: var(--color-body);
	font-family: Electrolize, sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

/* brand */
.brand {
	fill-rule: evenodd;
	fill: rgba(255, 255, 255, 0);
	stroke-dasharray: 350;
	stroke: white;
	stroke-linecap: round;
	stroke-width: 2px;
	transition: stroke-dashoffset 5s;
	stroke-dashoffset: 350;
	animation: brand-animation 3s 2s forwards;
}

@keyframes brand-animation {
	from {
		stroke-dashoffset: 350;
	}
	to {
		fill: white;
		stroke-width: 0;
		stroke-dashoffset: 0;
	}
}

/* Icon */

.icon {
	width: 50px;
}
.icon-wrapper {
	filter: drop-shadow(0 0 2px var(--color-secondary));
}
.icon-clipper {
	align-items: center;
	background: var(--color-secondary);
	clip-path: polygon(
		30% 0%,
		70% 0%,
		100% 30%,
		100% 70%,
		70% 100%,
		30% 100%,
		0% 70%,
		0% 30%
	);
	display: inline-flex;
	justify-content: center;
	padding: 2px;
	position: relative;
}
.icon-wrapper .icon {
	clip-path: polygon(
		30% 0%,
		70% 0%,
		100% 30%,
		100% 70%,
		70% 100%,
		30% 100%,
		0% 70%,
		0% 30%
	);
	background: #073942;
}
.icon-wrapper:hover .icon {
	background: #174952;
}

/* PEGI */
.pegi {
	display: flex;
	justify-content: space-evenly;
	max-width: 500px;
	margin: auto;
}

.pegi__icon {
	width: 45px;
}
.pegi__icon .icon {
	padding: 4px;
}

@media (min-width: 1024px) {
	.pegi__icon {
		width: 60px;
	}
}
