@import "./style-animations.css";

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--color-primary: #02161a;
	/* 00F8F8F8 backup secondary*/
	--color-secondary: #73e4de;
	--color-accent: #f29f67;
	--color-success: rgb(102, 255, 102);
	--color-warning: #f1c40f;
	--color-error: var(--color-accent);
	--color-headings: #1b0760;
	--color-body: #fff;
	--color-body-darker: #5c5577;
	--color-border: #ccc;

	--toastify-color-info: var(--color-secondary);
	--toastify-color-success: var(--color-success);
	--toastify-color-warning: var(--color-warning);
	--toastify-color-error: var(--color-error);

	--toastify-font-family: sans-serif;
}

/* TOASTIFY */

.Toastify__toast {
	border: 1px solid var(--color-secondary);
	background: #00a8a866;
	box-shadow: inset 0 0px 3px #02b0b0, 0 0 3px #02b0b0;
	border-radius: 0;
}
.Toastify__toast-theme--dark.Toastify__toast--info {
	color: var(--color-secondary);
}
.Toastify__toast-theme--dark.Toastify__toast--success {
	color: var(--color-success);
}
.Toastify__toast-theme--dark.Toastify__toast--warning {
	color: var(--color-warning);
}
.Toastify__toast-theme--dark.Toastify__toast--error {
	color: var(--color-error);
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
	background-color: var(--color-primary);
}

::-webkit-scrollbar-thumb {
	border: 2px solid var(--color-primary);
	background-color: var(--color-secondary);
	transition: background-color 100ms ease-out;
}

body {
	color: var(--color-body);
	font-family: "Titillium Web", sans-serif;
	letter-spacing: 1px;
	font-size: 1.6rem;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	background: #0a0a0a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	color: var(--color-secondary);
	text-transform: uppercase;
	letter-spacing: 0.5px;
	text-shadow: 0 0 2px var(--color-secondary);
}

em {
	color: var(--color-accent);
	font-weight: bold;
	font-style: normal;
}
.text--accent {
	color: var(--color-accent);
	text-shadow: 0 0 var(--color-accent);
}
/* BACKGROUND */

.background {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: -1;
}
.background__container {
	position: absolute;
	top: 0;
	z-index: 0;
	display: block;
	height: 100%;
	width: 100%;
}
.background--animate {
	opacity: 0;
	animation: animateOpacity 0.5s forwards;
}
.background__radial {
	background-image: radial-gradient(
		rgba(39, 225, 250, 0.1) 25%,
		transparent 100%
	);
	background-repeat: no-repeat;
	background-position: center;
}
.background__linear-line {
	position: absolute;
	left: 0;
	right: 0;
	height: 1px;
	background: var(--color-primary);
	box-shadow: 0 0 1px #000;
	opacity: 0.6;
}
.background__dotted-line {
	stroke: var(--color-primary);
	stroke-dasharray: 6;
	stroke-width: 1;
	stroke-dashoffset: 100;
	animation: animateDashoffset 1s forwards;
}
.background__circuit-container {
	opacity: 0.8;
}
.background__circuit-line {
	fill: none;
	stroke: #065858;
	stroke-width: 1;
}
.background__circuit-line-light {
	fill: none;
	stroke-linejoin: round;
	stroke-width: 2;
	stroke: white;
	opacity: 0;
}
.background__circuit-dot {
	fill: #043b3b;
}

@media (min-width: 1024px) {
	.background__radial {
		background-size: 0% 0%;
		animation: animateBackgroundSize 0.5s 1s forwards;
	}
	.background__circuit-container {
		stroke-dasharray: 2000;
		animation: animateDashoffset 1s forwards;
		animation: animateDashoffset 1s forwards;
		stroke-dashoffset: 2000;
	}
}
/* Assemble */
.assemble {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0a0a0a;
}
.assemble__popup {
	padding: 1rem;
	display: flex;
	flex-direction: column;
}
.assemble__text {
	color: var(--color-secondary);
	display: block;
	margin-bottom: 1rem;
}
.assemble__button {
	font-size: 1.5rem;
	display: inline-block;
	color: var(--color-secondary);
}
/* SPLASH */
.splash {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 780px;
	margin: 0 auto;
}
.splash .splash-menu {
	margin: 2.5rem 0 5rem 0;
}
/* EXPLORE */
.explore-container {
	/* ICON CONTAINER*/
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
}
.explore-icon .icon__image {
	stroke: #fff;
	stroke-width: 0.6;
	fill: none;
	width: 35px;
	padding: 0.6rem;
	cursor: pointer;

	animation: pulse-icon--secondary 2s infinite;
}
@media (min-width: 768px) {
	.explore-icon .icon__image {
		width: 45px;
	}
	.explore {
		margin-top: 12rem;
	}
}

/* brand */
.brand {
	padding: 0 1rem;
	margin: 0 auto;
}
.brand__logo {
	fill-rule: evenodd;
	stroke-linecap: round;
	width: 100%;
	fill: none;
	stroke: white;
	filter: drop-shadow(0 0 2px var(--color-secondary));
}
.brand__subtitle {
	text-transform: uppercase;
	font-size: 1.1rem;
	color: var(--color-accent);
	text-shadow: 0 0 2px var(--color-accent);
	position: relative;
	bottom: 6px;
}
@media (min-width: 768px) {
	.brand__subtitle {
		font-size: 1.5rem;
	}
}

/* Icon */
.icon {
	filter: drop-shadow(0 0 2px var(--color-secondary));
}
.icon--secondary {
	filter: drop-shadow(0 0 2px var(--color-accent));
}
.icon--round .icon__image {
	border-radius: 50%;
	border: 2px solid var(--color-secondary);
}
.icon--round.icon--secondary .icon__image {
	border-radius: 50%;
	border: 2px solid var(--color-accent);
}
.icon--clipper .icon__sub {
	clip-path: polygon(
		30% 0%,
		70% 0%,
		100% 30%,
		100% 70%,
		70% 100%,
		30% 100%,
		0% 70%,
		0% 30%
	);
	padding: 2px;
}
.icon--clipper .icon__image {
	clip-path: polygon(
		30% 0%,
		70% 0%,
		100% 30%,
		100% 70%,
		70% 100%,
		30% 100%,
		0% 70%,
		0% 30%
	);
}
.icon__sub {
	align-items: center;
	background: var(--color-secondary);
	display: inline-flex;
	justify-content: center;
}
.icon--secondary .icon__sub {
	background: var(--color-accent);
}
.icon__image {
	background: #073942;
}
.icon--secondary .icon__image {
	background: rgb(99, 71, 36);
}
.icon:hover .icon__image {
	background: #174952;
}
.icon--secondary:hover .icon__image {
	background: #522f17;
}
/* List */
.list {
	list-style: none;
}

/* PEGI */
.pegi {
	display: flex;
	justify-content: center;
}
.pegi__icon {
	position: absolute;
}
.pegi__icon:nth-child(1) {
	margin-left: 0;
}
.pegi__icon .icon__image {
	padding: 4px;
	width: 30px;
}
@media (min-width: 768px) {
	.pegi__icon .icon__image {
		width: 40px;
	}
}

/* LINK */
.link {
	color: #cccccc;
	text-shadow: 0 0 5px var(--color-secondary);
	font-size: 1.6rem;
	position: relative;
}
.link:hover,
.link--active {
	color: var(--color-accent);
	text-shadow: 0 0 3px var(--color-accent);
}
@media (min-width: 768px) {
	.link {
		font-size: 2.1rem;
	}
}
/* COLLAPSIBLE */
.collapsible__content {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transition: max-height 0.6s, opacity 0.6s;
}

.collapsible--expanded .collapsible__content {
	max-height: 100vh;
	opacity: 1;
}

/* splash menu */
.splash-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}
.splash-menu__link {
	text-transform: uppercase;
	display: inline-flex;
	align-items: center;
	padding: 0 2rem;
}
.splash-menu__item {
	display: inline-block;
}
@media (min-width: 1024px) {
	.splash-menu__item::before {
		content: "|";
		vertical-align: center;
		width: 1px;
		height: 15px;
		color: var(--color-accent);
		position: relative;
		bottom: 3px;
	}
	.splash-menu__item:first-child:before {
		content: "";
	}
	.splash-menu__link {
		padding: 0 3rem;
	}
}

/* navbar*/
.nav {
	background: rgba(0, 0, 0, 0.9);
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 2rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
.nav__list {
	width: 100%;
}
.nav__list .splash-menu {
	flex-direction: column;
	align-items: flex-start;
}
.nav__logo {
	cursor: pointer;
	max-width: 80%;
}
.nav__toggler {
	margin-left: auto;
	align-items: center;
	background: var(--color-primary);
	cursor: pointer;
	display: block;
	font-size: 2rem;
	justify-content: center;
	opacity: 0.8;
	padding: 0.8rem;
	transform: rotate(90deg);
	transition: all 0.3s;
	flex-wrap: nowrap;
}
.nav__toggler:hover,
.nav__toggler.collapsible__icon {
	opacity: 1;
	color: var(--color-accent);
}
.nav__toggler::after {
	content: "|||";
	position: relative;
	bottom: 2px;
}
.nav .splash-menu__item {
	margin-bottom: 1rem;
}
.nav .splash-menu__item:last-of-type {
	margin: 0;
}
@media screen and (min-width: 1024px) {
	.nav {
		clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 100%);
	}
	.nav__toggler {
		display: none;
	}
	.nav__list {
		display: flex;
		width: auto;
		max-height: 100%;
		opacity: 1;
	}
	.nav__list .splash-menu {
		flex-direction: row;
	}
}
/* Grid */
.grid {
	display: grid;
}

/* FEATURES */
.feature {
	margin: 0 auto 3rem auto;
	padding: 2rem;
	grid-gap: 4rem;
	justify-items: center;
}
.feature__image {
	align-self: center;
}
.feature__content {
	animation: animateBlackBackground 1s 1s forwards;
}
.feature__box {
	padding: 1rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.feature .css-15iu09m-Figure,
.feature .css-2i6t3z-Figure,
.feature .css-utb7zd-Figure,
.feature .css-13ehvh8-Figure {
	background-color: var(--color-accent);
	box-shadow: 0 0 2px var(--color-accent);
}

@media screen and (min-width: 768px) {
	.feature {
		grid-template-columns: 1fr 1fr;
	}
	.feature:nth-child(even) .feature__image {
		order: 2;
	}
}

/* CARDS */
